Repository grafana/grafana-plugin-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/plugins-platform-backend, @grafana/observability-metrics, @grafana/observability-logs, @grafana/partner-datasources, @grafana/data-plane-wg, @grafana/oss-big-tent

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# these will be requested for review when someone opens a pull request.
* @grafana/plugins-platform-backend
/backend/gtime @grafana/observability-metrics @grafana/observability-logs @grafana/partner-datasources
/data/ @grafana/data-plane-wg
/data/sqlutil @grafana/oss-big-tent

remove comment
  backend/proxy/secure_socks_proxy_test.go
Owners: @grafana/plugins-platform-backend

Add backwards compatibility for reading PDC info as file paths (#941)
  backend/config.go
  backend/config_test.go
  backend/proxy/secure_socks_proxy.go
  backend/proxy/secure_socks_proxy_test.go
Owners: @grafana/plugins-platform-backend

fix test
  backend/config_test.go
Owners: @grafana/plugins-platform-backend

Add PluginAppClientSecret to request config (#940)
  backend/config.go
  backend/config_test.go
  experimental/oauthtokenretriever/sign.go
  experimental/oauthtokenretriever/sign_test.go
  experimental/oauthtokenretriever/token.go
  experimental/oauthtokenretriever/token_test.go
  experimental/testdata/folder.golden.txt
Owners: @grafana/plugins-platform-backend

QueryTypes: Read maxdatapoints as string or int64
  experimental/apis/data/v0alpha1/query.go
  experimental/apis/data/v0alpha1/query_test.go
Owners: @grafana/plugins-platform-backend

fmt
  experimental/apis/data/v0alpha1/query_test.go
Owners: @grafana/plugins-platform-backend

no builtin errors
  backend/app/manage.go
  backend/common.go
  backend/data_adapter.go
  backend/data_adapter_test.go
  backend/diagnostics_adapter.go
  backend/diagnostics_adapter_test.go
  backend/log_test.go
  backend/resource_adapter.go
  backend/resource_adapter_test.go
  backend/serve.go
  backend/stream_adapter.go
  backend/stream_adapter_test.go
Owners: @grafana/plugins-platform-backend

more comments
  genproto/pluginv2/backend.pb.go
  genproto/pluginv2/backend_grpc.pb.go
  proto/backend.proto
Owners: @grafana/plugins-platform-backend

fix enum extraction
  experimental/schemabuilder/enums.go
  experimental/schemabuilder/enums_test.go
  experimental/schemabuilder/example/query.go
  experimental/schemabuilder/reflector.go
Owners: @grafana/plugins-platform-backend

test cleanup
  experimental/schemabuilder/enums_test.go
Owners: @grafana/plugins-platform-backend

SchemaBuilder: Fix enum value extraction (#944)
  experimental/schemabuilder/enums.go
  experimental/schemabuilder/enums_test.go
  experimental/schemabuilder/example/query.go
  experimental/schemabuilder/reflector.go
Owners: @grafana/plugins-platform-backend

update tests
  experimental/apis/data/v0alpha1/query.go
  experimental/apis/data/v0alpha1/query_test.go
Owners: @grafana/plugins-platform-backend

QueryTypes: Read maxdatapoints as string or int64 (#943)
  experimental/apis/data/v0alpha1/query.go
  experimental/apis/data/v0alpha1/query_test.go
Owners: @grafana/plugins-platform-backend

add func for passing tenant ID via context
  backend/common.go
Owners: @grafana/plugins-platform-backend

add func for passing tenant ID via context (#949)
  backend/common.go
Owners: @grafana/plugins-platform-backend

add timeseries.ResampleWideFramr
  data/timeseries/resample.go
  data/timeseries/resample_test.go
Owners: @grafana/data-plane-wg

Check if scanType value is nil
  data/sqlutil/scanrow.go
Owners: @grafana/oss-big-tent

moved code to a different package
  data/sqlutil/resample.go
  data/sqlutil/resample_test.go
Owners: @grafana/oss-big-tent

added deprecation-comment
  data/sqlutil/resample.go
Owners: @grafana/oss-big-tent

add timeseries.ResampleWideFrame (#950)
  data/sqlutil/resample.go
  data/sqlutil/resample_test.go
Owners: @grafana/oss-big-tent

Check if scanType value is nil (#951)
  data/sqlutil/scanrow.go
Owners: @grafana/oss-big-tent

use correct fields
  backend/proxy/env.go
Owners: @grafana/plugins-platform-backend

fix test
  backend/proxy/env_test.go
Owners: @grafana/plugins-platform-backend

PDC: Fix env var config fallback (#952)
  backend/proxy/env.go
  backend/proxy/env_test.go
Owners: @grafana/plugins-platform-backend

Set proxy options from context
  backend/common.go
Owners: @grafana/plugins-platform-backend

add tests
  backend/common_test.go
Owners: @grafana/plugins-platform-backend

Set proxy options from context (#955)
  backend/common.go
  backend/common_test.go
Owners: @grafana/plugins-platform-backend

expose Serve opts with default adapaters
  backend/serve.go
Owners: @grafana/plugins-platform-backend

tidy
  backend/serve.go
Owners: @grafana/plugins-platform-backend

Expose Serve opts with default adapters (#956)
  backend/serve.go
Owners: @grafana/plugins-platform-backend

bumping version of golang.org/x/net
  go.mod
  go.sum
Owners: @grafana/plugins-platform-backend

rever go version update
  go.mod
Owners: @grafana/plugins-platform-backend

bumping version of golang.org/x/net (#957)
  go.mod
  go.sum
Owners: @grafana/plugins-platform-backend

fix: dynamic frame panic
  data/sqlutil/dynamic_frame.go
  data/sqlutil/dynamic_frame_test.go
  data/sqlutil/sql.go
Owners: @grafana/oss-big-tent

slices not available yet
  data/sqlutil/dynamic_frame.go
Owners: @grafana/oss-big-tent

bump go version
  go.mod
Owners: @grafana/plugins-platform-backend

Chore: Replace deprecated prometheus grpc middleware
  backend/serve.go
  go.mod
  go.sum
Owners: @grafana/plugins-platform-backend

Chore: Upgrade github.com/getkin/kin-openapi
  go.mod
  go.sum
Owners: @grafana/plugins-platform-backend

fix
  experimental/e2e/storage/openapi.go
Owners: @grafana/plugins-platform-backend

use latest kin-openapi
  go.mod
  go.sum
Owners: @grafana/plugins-platform-backend
