Repository grafana/grafana-plugin-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/plugins-platform-backend, @grafana/observability-metrics, @grafana/observability-logs, @grafana/partner-datasources, @grafana/data-plane-wg, @grafana/oss-big-tent

cleanup
  experimental/spec/builder.go
  experimental/spec/query_parser.go
Owners: @grafana/plugins-platform-backend

use kube-openapi
  experimental/spec/builder.go
  experimental/spec/example/query.go
  experimental/spec/example/query.request.examples.json
  experimental/spec/example/query.request.schema.json
  experimental/spec/example/query.schema.json
  experimental/spec/example/query.types.json
  experimental/spec/example/query_test.go
  go.mod
  go.sum
Owners: @grafana/plugins-platform-backend

fix error state
  experimental/spec/builder.go
Owners: @grafana/plugins-platform-backend

refactor (again)
  data/frame_type.go
  experimental/spec/builder.go
  experimental/spec/enums.go
  experimental/spec/enums_test.go
  experimental/spec/example/math.go
  experimental/spec/example/query.go
  experimental/spec/example/query.request.examples.json
  experimental/spec/example/query.request.schema.json
  experimental/spec/example/query.schema.json
  experimental/spec/example/query.types.json
  experimental/spec/example/query_test.go
  experimental/spec/example/reduce.go
  experimental/spec/example/resample.go
  experimental/spec/k8s.go
  experimental/spec/query.go
  experimental/spec/query.schema.json
  experimental/spec/query_parser.go
  experimental/spec/query_test.go
  experimental/spec/settings.go
  experimental/testdata/folder.golden.txt
Owners: @grafana/data-plane-wg, @grafana/plugins-platform-backend

refactor (again)
  experimental/resource/metaV1.go
  experimental/resource/panel.go
  experimental/resource/query.go
  experimental/resource/query.schema.json
  experimental/resource/query_parser.go
  experimental/resource/query_test.go
  experimental/resource/schemabuilder/enums.go
  experimental/resource/schemabuilder/enums_test.go
  experimental/resource/schemabuilder/example/math.go
  experimental/resource/schemabuilder/example/query.go
  experimental/resource/schemabuilder/example/query.request.examples.json
  experimental/resource/schemabuilder/example/query.request.schema.json
  experimental/resource/schemabuilder/example/query.schema.json
  experimental/resource/schemabuilder/example/query.types.json
  experimental/resource/schemabuilder/example/query_test.go
  experimental/resource/schemabuilder/example/reduce.go
  experimental/resource/schemabuilder/example/resample.go
  experimental/resource/schemabuilder/examples.go
  experimental/resource/schemabuilder/reflector.go
  experimental/resource/schemabuilder/schema.go
  experimental/resource/settings.go
Owners: @grafana/plugins-platform-backend

now with panel schema
  experimental/resource/panel.go
  experimental/resource/query.go
  experimental/resource/query.schema.json
  experimental/resource/schemabuilder/example/query.request.examples.json
  experimental/resource/schemabuilder/example/query.request.schema.json
  experimental/resource/schemabuilder/example/query.schema.json
  experimental/resource/schemabuilder/example/query_test.go
  experimental/resource/schemabuilder/examples.go
  experimental/resource/schemabuilder/reflector.go
  experimental/resource/schemabuilder/schema.go
Owners: @grafana/plugins-platform-backend

now with panel schema
  experimental/resource/schemabuilder/example/query.panel.example.json
  experimental/resource/schemabuilder/example/query.panel.schema.json
  experimental/resource/schemabuilder/example/query.request.example.json
Owners: @grafana/plugins-platform-backend

now with dataFrame type
  experimental/resource/query.go
  experimental/resource/query.schema.json
  experimental/resource/query_parser.go
  experimental/resource/query_test.go
  experimental/resource/schemabuilder/enums.go
  experimental/resource/schemabuilder/enums_test.go
  experimental/resource/schemabuilder/example/query.go
  experimental/resource/schemabuilder/example/query.panel.schema.json
  experimental/resource/schemabuilder/example/query.request.schema.json
  experimental/resource/schemabuilder/example/query_test.go
  experimental/resource/schemabuilder/reflector.go
Owners: @grafana/plugins-platform-backend

now with dataFrame type
  experimental/resource/schemabuilder/reflector_test.go
Owners: @grafana/plugins-platform-backend

lint
  experimental/resource/metaV1.go
  experimental/resource/query.go
  experimental/resource/query_parser.go
  experimental/resource/schemabuilder/example/query.go
  experimental/resource/settings.go
Owners: @grafana/plugins-platform-backend

refactor
  experimental/resource/query.go
  experimental/resource/query.schema.json
  experimental/resource/query_parser.go
  experimental/resource/schemabuilder/reflector_test.go
  experimental/resource/schemabuilder/schema.go
  go.mod
  go.sum
Owners: @grafana/plugins-platform-backend

refactor
  experimental/resource/query_definition.go
  experimental/resource/query_test.go
Owners: @grafana/plugins-platform-backend

another constructor
  experimental/resource/query.go
  experimental/resource/query_test.go
Owners: @grafana/plugins-platform-backend

add apimachinery
  backend/data.go
  experimental/apis/v0alpha1/openapi.go
  go.mod
  go.sum
Owners: @grafana/plugins-platform-backend

now with a test
  backend/data.go
  data/frame.go
  experimental/api/v0alpha1/openapi.go
  experimental/testdata/folder.golden.txt
  go.mod
  go.sum
Owners: @grafana/plugins-platform-backend, @grafana/data-plane-wg

now with a test
  experimental/api/v0alpha1/openapi_test.go
  experimental/api/v0alpha1/testdata/sample_query_results.json
Owners: @grafana/plugins-platform-backend

lint
  data/frame.go
  experimental/api/v0alpha1/openapi_test.go
Owners: @grafana/data-plane-wg, @grafana/plugins-platform-backend

add apiVersion to protobuf
  backend/common.go
  backend/convert_from_protobuf.go
  backend/convert_from_protobuf_test.go
  backend/convert_to_protobuf.go
  genproto/pluginv2/backend.pb.go
  genproto/pluginv2/backend_grpc.pb.go
  proto/backend.proto
Owners: @grafana/plugins-platform-backend

add apiVersion to protobuf
  backend/app/manage.go
  backend/common.go
  backend/data_adapter.go
  backend/data_adapter_test.go
  backend/diagnostics_adapter.go
  backend/diagnostics_adapter_test.go
  backend/log_test.go
  backend/resource_adapter.go
  backend/resource_adapter_test.go
  backend/serve.go
  backend/stream_adapter.go
  backend/stream_adapter_test.go
Owners: @grafana/plugins-platform-backend

lint
  backend/app/manage.go
  backend/common.go
  backend/convert_from_protobuf.go
  backend/convert_from_protobuf_test.go
  backend/convert_to_protobuf.go
  backend/data_adapter.go
  backend/diagnostics_adapter.go
  backend/resource_adapter.go
  backend/serve.go
  backend/stream_adapter.go
Owners: @grafana/plugins-platform-backend

ci(gh-workflows): add a stale workflow
  .github/workflows/stale.yml
Owners: @grafana/plugins-platform-backend

remove github.com/cheekybits/genny/generic
  data/generic_vector.go
  go.mod
  go.sum
Owners: @grafana/data-plane-wg, @grafana/plugins-platform-backend

ci(gh-workflows): add a stale workflow (#912)
  .github/workflows/stale.yml
Owners: @grafana/plugins-platform-backend

remove code
  data/gen.go
  data/generic_nullable_vector.go
  data/generic_vector.go
Owners: @grafana/data-plane-wg

Remove github.com/cheekybits/genny (#913)
  data/gen.go
  data/generic_nullable_vector.go
  data/generic_vector.go
  go.mod
  go.sum
Owners: @grafana/data-plane-wg, @grafana/plugins-platform-backend

update query parser
  experimental/resource/query.go
  experimental/resource/query_parser.go
  experimental/resource/query_test.go
  experimental/resource/schemabuilder/example/math.go
  experimental/resource/schemabuilder/example/query.go
  experimental/resource/schemabuilder/example/reduce.go
  experimental/resource/schemabuilder/example/resample.go
  experimental/resource/schemabuilder/examples.go
  experimental/resource/schemabuilder/reflector_test.go
Owners: @grafana/plugins-platform-backend

update query parser
  experimental/resource/query_parser.go
  experimental/resource/query_test.go
Owners: @grafana/plugins-platform-backend

Revert "Remove github.com/cheekybits/genny (#913)"
  data/gen.go
  data/generic_nullable_vector.go
  data/generic_vector.go
  go.mod
  go.sum
Owners: @grafana/data-plane-wg, @grafana/plugins-platform-backend

Remove flaky test
  backend/gtime/gtime_test.go
Owners: @grafana/observability-metrics, @grafana/observability-logs, @grafana/partner-datasources

Remove flaky test (#915)
  backend/gtime/gtime_test.go
Owners: @grafana/observability-metrics, @grafana/observability-logs, @grafana/partner-datasources

Revert "Remove github.com/cheekybits/genny (#913)" (#914)
  data/gen.go
  data/generic_nullable_vector.go
  data/generic_vector.go
  go.mod
  go.sum
Owners: @grafana/data-plane-wg, @grafana/plugins-platform-backend

use real type for JSONSchema object
  experimental/resource/query.go
  experimental/resource/query_definition.go
  experimental/resource/schemabuilder/example/query.types.json
  experimental/resource/schemabuilder/reflector.go
  experimental/resource/schemabuilder/schema.go
  experimental/resource/settings.go
Owners: @grafana/plugins-platform-backend

use real type for JSONSchema object
  experimental/resource/schema.go
  experimental/resource/schema_test.go
Owners: @grafana/plugins-platform-backend

use real type for JSONSchema object
  experimental/resource/schema.go
  experimental/resource/schema_test.go
  experimental/resource/schemabuilder/example/query.panel.schema.json
  experimental/resource/schemabuilder/example/query.request.schema.json
  experimental/resource/schemabuilder/example/query.types.json
  experimental/resource/schemabuilder/reflector_test.go
  experimental/resource/schemabuilder/schema.go
Owners: @grafana/plugins-platform-backend

add spec definition
  experimental/resource/query.definition.schema.json
  experimental/resource/query.go
  experimental/resource/query.schema.json
  experimental/resource/query_definition.go
  experimental/resource/schemabuilder/reflector.go
  experimental/resource/schemabuilder/reflector_test.go
Owners: @grafana/plugins-platform-backend

more specs
  experimental/resource/query.go
  experimental/resource/query_definition.go
  experimental/resource/schemabuilder/reflector_test.go
Owners: @grafana/plugins-platform-backend

more specs
  experimental/resource/openapi.go
  experimental/resource/openapi_test.go
  experimental/resource/testdata/sample_query_results.json
Owners: @grafana/plugins-platform-backend

lint
  experimental/resource/openapi.go
  experimental/resource/schema.go
  experimental/resource/schema_test.go
Owners: @grafana/plugins-platform-backend

now with unstructured
  experimental/resource/query_definition.go
  experimental/resource/schemabuilder/example/query.types.json
  experimental/resource/schemabuilder/example/query_test.go
  experimental/resource/schemabuilder/examples.go
  experimental/resource/schemabuilder/reflector.go
  experimental/resource/schemabuilder/schema.go
  experimental/resource/unstructured.go
Owners: @grafana/plugins-platform-backend

less verbose
  experimental/resource/query_definition.go
  experimental/resource/schemabuilder/example/query.panel.example.json
  experimental/resource/schemabuilder/example/query.request.example.json
  experimental/resource/schemabuilder/example/query.types.json
  experimental/resource/schemabuilder/example/query_test.go
  experimental/resource/schemabuilder/reflector.go
Owners: @grafana/plugins-platform-backend

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# these will be requested for review when someone opens a pull request.
* @grafana/plugins-platform-backend
/backend/gtime @grafana/observability-metrics @grafana/observability-logs @grafana/partner-datasources
/data/ @grafana/data-plane-wg
/data/sqlutil @grafana/oss-big-tent
