Repository grafana/grafana-plugin-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/plugins-platform-backend, @grafana/observability-metrics, @grafana/observability-logs, @grafana/partner-datasources, @grafana/data-plane-wg, @grafana/oss-big-tent

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# these will be requested for review when someone opens a pull request.
* @grafana/plugins-platform-backend
/backend/gtime @grafana/observability-metrics @grafana/observability-logs @grafana/partner-datasources
/data/ @grafana/data-plane-wg
/data/sqlutil @grafana/oss-big-tent

Remove datasource settings from QueryConversionHandler (#1095)
  backend/datasource/manage.go
  internal/automanagement/manager.go
Owners: @grafana/plugins-platform-backend

add log at request start
  backend/adapter_utils.go
  backend/log.go
Owners: @grafana/plugins-platform-backend

update tests
  backend/log_test.go
Owners: @grafana/plugins-platform-backend

Fix error source in partial data response error for context.Canceled and other downstream errors
  backend/data_adapter.go
  backend/data_adapter_test.go
Owners: @grafana/plugins-platform-backend

Add log for request start (#1096)
  backend/adapter_utils.go
  backend/log.go
  backend/log_test.go
Owners: @grafana/plugins-platform-backend

Handle invalid error source case
  backend/data_adapter.go
  backend/data_adapter_test.go
Owners: @grafana/plugins-platform-backend

Fix lint
  backend/data_adapter.go
Owners: @grafana/plugins-platform-backend

Add additional test
  backend/data_adapter_test.go
Owners: @grafana/plugins-platform-backend

Mark error in long series as downstream
  data/time_series.go
Owners: @grafana/data-plane-wg

Autoinstrumentation: Don't log errors in partial response that produce status=cancelled
  backend/data_adapter.go
Owners: @grafana/plugins-platform-backend

Autoinstrumentation: Don't log errors in partial response that produce status=cancelled (#1100)
  backend/data_adapter.go
Owners: @grafana/plugins-platform-backend

Error source middleware
  backend/adapter_utils.go
  backend/adapter_utils_test.go
  backend/data_adapter_test.go
  backend/error_source.go
  backend/error_source_middleware.go
  backend/error_source_middleware_test.go
  backend/handler_middleware.go
Owners: @grafana/plugins-platform-backend

IsDownstreamHttpError
  backend/error_source.go
  backend/request_status.go
Owners: @grafana/plugins-platform-backend

POC
  backend/httpclient/error_source_middleware.go
  backend/httpclient/http_client.go
Owners: @grafana/plugins-platform-backend

Errorsource: mark protocol error as downstream
  experimental/errorsource/error_source_middleware.go
Owners: @grafana/plugins-platform-backend

WIP: experimentally moving errorsource out of experimental
  backend/adapter_utils.go
  backend/adapter_utils_test.go
  backend/convert_from_protobuf.go
  backend/convert_from_protobuf_test.go
  backend/convert_to_protobuf.go
  backend/convert_to_protobuf_test.go
  backend/data.go
  backend/data_adapter.go
  backend/data_adapter_test.go
  backend/data_test.go
  backend/datasource/query_type_mux.go
  backend/errorsource/error_source.go
  backend/errorsource/error_source_test.go
  backend/errorsource/status.go
  backend/framer.go
  backend/gtime/gtime.go
  backend/handler_middleware.go
  backend/httpclient/http_client.go
  backend/httpclient/http_client_test.go
  backend/json.go
  backend/json_test.go
  backend/request_status.go
  data/sqlutil/scanrow.go
  experimental/concurrent/concurrent.go
  experimental/errorsource/error_source.go
  experimental/errorsource/error_source_middleware.go
  experimental/errorsource/error_source_test.go
  experimental/errorsource/httpclient/http_client.go
  experimental/errorsource/httpclient/http_client_test.go
  experimental/golden_response_checker_test.go
  experimental/slo/slo_middleware.go
  experimental/testdata/folder.golden.txt
  genproto/pluginv2/backend.pb.go
  genproto/pluginv2/backend_grpc.pb.go
  internal/automanagement/manager.go
Owners: @grafana/plugins-platform-backend, @grafana/observability-metrics, @grafana/observability-logs, @grafana/partner-datasources, @grafana/oss-big-tent

fix
  backend/error_source_middleware.go
Owners: @grafana/plugins-platform-backend

Add error source http error handling
  backend/error_source.go
  backend/httpclient/error_source_middleware.go
  experimental/errorsource/error_source_middleware.go
Owners: @grafana/plugins-platform-backend

Fix lint errors
  backend/error_source.go
  backend/httpclient/error_source_middleware.go
  experimental/errorsource/error_source_middleware.go
Owners: @grafana/plugins-platform-backend

Fix test
  backend/httpclient/error_source_middleware.go
  backend/httpclient/http_client_test.go
  backend/httpclient/provider_test.go
Owners: @grafana/plugins-platform-backend

Update
  backend/error_source.go
  backend/request_status.go
Owners: @grafana/plugins-platform-backend

Update
  backend/request_status.go
Owners: @grafana/plugins-platform-backend

bug fix updating data response
  backend/error_source_middleware.go
  backend/error_source_middleware_test.go
Owners: @grafana/plugins-platform-backend

bug fix updating data response
  backend/data_adapter.go
  backend/data_adapter_test.go
Owners: @grafana/plugins-platform-backend

more bug fixes with set error source if invalid
  backend/data_adapter.go
  backend/data_adapter_test.go
  backend/error_source_middleware.go
  backend/error_source_middleware_test.go
Owners: @grafana/plugins-platform-backend

fix error source implementing stringer interface with fallback to default if not set
  backend/error_source.go
  backend/error_source_test.go
Owners: @grafana/plugins-platform-backend

Error source HTTP client middleware
  backend/data_adapter.go
  backend/error_source.go
  backend/error_source_test.go
  backend/httpclient/error_source_middleware.go
  backend/httpclient/http_client.go
  backend/httpclient/http_client_test.go
  backend/httpclient/provider_test.go
  backend/request_status.go
  backend/status/doc.go
  backend/status/status_source.go
  backend/status/status_source_test.go
  experimental/errorsource/error_source_middleware.go
Owners: @grafana/plugins-platform-backend

fixes and tests for experimental error source
  backend/status/status_source.go
  backend/status/status_source_test.go
Owners: @grafana/plugins-platform-backend

lint fix
  backend/status/status_source.go
Owners: @grafana/plugins-platform-backend

skip supporting joined errors for now
  backend/status/status_source.go
  backend/status/status_source_test.go
Owners: @grafana/plugins-platform-backend

move status package to experimental for now
  backend/data_adapter.go
  backend/error_source.go
  backend/httpclient/error_source_middleware.go
  backend/request_status.go
  experimental/errorsource/error_source_middleware.go
  experimental/status/doc.go
  experimental/status/status_source.go
  experimental/status/status_source_test.go
  experimental/testdata/folder.golden.txt
Owners: @grafana/plugins-platform-backend

middleware tests
  backend/httpclient/error_source_middleware_test.go
  backend/httpclient/http_client_test.go
Owners: @grafana/plugins-platform-backend

lint fix
  backend/httpclient/error_source_middleware_test.go
Owners: @grafana/plugins-platform-backend

lint fix
  backend/httpclient/error_source_middleware_test.go
  backend/httpclient/http_client_test.go
Owners: @grafana/plugins-platform-backend

remove unused/not needed function
  backend/error_source.go
  experimental/status/status_source.go
Owners: @grafana/plugins-platform-backend

Error source HTTP client middleware (#1106)
  backend/data_adapter.go
  backend/error_source.go
  backend/error_source_test.go
  backend/httpclient/error_source_middleware.go
  backend/httpclient/error_source_middleware_test.go
  backend/httpclient/http_client.go
  backend/httpclient/http_client_test.go
  backend/httpclient/provider_test.go
  backend/request_status.go
  experimental/errorsource/error_source_middleware.go
  experimental/status/doc.go
  experimental/status/status_source.go
  experimental/status/status_source_test.go
  experimental/testdata/folder.golden.txt
Owners: @grafana/plugins-platform-backend

review changes
  backend/error_source_middleware.go
Owners: @grafana/plugins-platform-backend

wip
  experimental/apis/data/v0alpha1/client.go
Owners: @grafana/plugins-platform-backend

make initErrorSource private
  backend/adapter_utils.go
  backend/adapter_utils_test.go
  backend/error_source.go
  backend/handler_middleware.go
Owners: @grafana/plugins-platform-backend

Error source handler middleware (#1101)
  backend/adapter_utils.go
  backend/adapter_utils_test.go
  backend/data_adapter.go
  backend/data_adapter_test.go
  backend/error_source.go
  backend/error_source_middleware.go
  backend/error_source_middleware_test.go
  experimental/status/status_source.go
Owners: @grafana/plugins-platform-backend
