Repository grafana/grafana-plugin-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/plugins-platform-backend, @grafana/observability-metrics, @grafana/observability-logs, @grafana/partner-datasources, @grafana/data-plane-wg, @grafana/oss-big-tent

now with storage interface
  backend/grpcplugin/grpc_storage.go
  backend/storage.go
  backend/storage_adapter.go
Owners: @grafana/plugins-platform-backend

fix lint
  backend/storage.go
Owners: @grafana/plugins-platform-backend

now as admission
  backend/admission.go
  backend/admission_adapter.go
  backend/app/manage.go
  backend/convert_from_protobuf.go
  backend/convert_from_protobuf_test.go
  backend/convert_to_protobuf.go
  backend/datasource/manage.go
  backend/datasource/serve.go
  backend/grpcplugin/grpc_admission.go
  backend/grpcplugin/grpc_storage.go
  backend/grpcplugin/serve.go
  backend/serve.go
  backend/storage.go
  backend/storage_adapter.go
  experimental/datasourcetest/manage.go
  genproto/pluginv2/backend.pb.go
  genproto/pluginv2/backend_grpc.pb.go
  internal/automanagement/manager.go
  proto/backend.proto
Owners: @grafana/plugins-platform-backend

fix lint
  backend/admission.go
  backend/convert_from_protobuf.go
Owners: @grafana/plugins-platform-backend

update command
  backend/admission_adapter.go
  backend/app/manage.go
  backend/datasource/serve.go
  backend/grpcplugin/grpc_admission.go
  backend/serve.go
  internal/automanagement/manager.go
Owners: @grafana/plugins-platform-backend

add converters
  backend/admission.go
  backend/common.go
  backend/convert_from_protobuf.go
  backend/convert_to_protobuf.go
Owners: @grafana/plugins-platform-backend

add converters
  backend/admission_test.go
Owners: @grafana/plugins-platform-backend

fix lint
  backend/common.go
Owners: @grafana/plugins-platform-backend

storage >> admission
  backend/grpcplugin/grpc_admission.go
  backend/grpcplugin/serve.go
Owners: @grafana/plugins-platform-backend

Use GVK not GVKR
  backend/admission.go
  backend/admission_test.go
  backend/common.go
  backend/convert_from_protobuf.go
  backend/convert_from_protobuf_test.go
  backend/convert_to_protobuf.go
  backend/serve.go
  genproto/pluginv2/backend.pb.go
  proto/backend.proto
Owners: @grafana/plugins-platform-backend

proto helpers
  backend/admission_test.go
  backend/common.go
Owners: @grafana/plugins-platform-backend

cleanup
  backend/admission.go
  backend/admission_test.go
  backend/app/manage.go
  backend/common.go
  backend/convert_to_protobuf.go
  backend/convert_to_protobuf_test.go
  backend/datasource/manage.go
Owners: @grafana/plugins-platform-backend

SQL: Apply longer macros before shorter macros
  data/sqlutil/macros.go
  data/sqlutil/macros_test.go
Owners: @grafana/oss-big-tent

lint
  backend/convert_to_protobuf_test.go
Owners: @grafana/plugins-platform-backend

Update backend/admission.go
  backend/admission.go
Owners: @grafana/plugins-platform-backend

use different response structs
  backend/admission.go
  backend/admission_adapter.go
  backend/convert_from_protobuf.go
  backend/convert_to_protobuf.go
  backend/grpcplugin/grpc_admission.go
  genproto/pluginv2/backend.pb.go
  genproto/pluginv2/backend_grpc.pb.go
  proto/backend.proto
Owners: @grafana/plugins-platform-backend

more cleanup
  backend/admission.go
  backend/admission_adapter.go
  backend/convert_from_protobuf.go
  backend/convert_to_protobuf.go
  backend/grpcplugin/grpc_admission.go
  genproto/pluginv2/backend.pb.go
  genproto/pluginv2/backend_grpc.pb.go
  proto/backend.proto
Owners: @grafana/plugins-platform-backend

added better conversion tests
  backend/convert_from_protobuf_test.go
Owners: @grafana/plugins-platform-backend

test lint
  backend/convert_from_protobuf_test.go
Owners: @grafana/plugins-platform-backend

fix lint
  backend/app/instance_provider_test.go
  backend/data_adapter_test.go
  backend/datasource/instance_provider_test.go
  backend/datasource/query_type_mux_example_test.go
  backend/datasource/query_type_mux_test.go
  backend/diagnostics_adapter_test.go
  backend/httpclient/contextual_middleware_example_test.go
  backend/httpclient/http_client.go
  backend/httpclient/http_client_example_test.go
  backend/httpclient/http_client_test.go
  backend/httpclient/provider.go
  backend/httpclient/provider_example_test.go
  backend/httpclient/provider_test.go
  backend/httpclient/response_limit_middleware.go
  backend/log_test.go
  backend/resource/httpadapter/doc_test.go
  backend/resource/httpadapter/handler_test.go
  backend/resource_adapter_test.go
  backend/stream_adapter_test.go
  build/utils/copy_test.go
  data/framestruct/converter_test.go
  experimental/e2e/fixture/fixture_test.go
  experimental/macros/time_macros.go
  experimental/mock/roundtripper_test.go
  internal/tenant/tenanttest/tenant_test.go
Owners: @grafana/plugins-platform-backend, @grafana/data-plane-wg

Update backend/httpclient/http_client.go
  backend/httpclient/http_client.go
Owners: @grafana/plugins-platform-backend

Chore: fix lint issues in tests (#993)
  backend/app/instance_provider_test.go
  backend/data_adapter_test.go
  backend/datasource/instance_provider_test.go
  backend/datasource/query_type_mux_example_test.go
  backend/datasource/query_type_mux_test.go
  backend/diagnostics_adapter_test.go
  backend/httpclient/contextual_middleware_example_test.go
  backend/httpclient/http_client.go
  backend/httpclient/http_client_example_test.go
  backend/httpclient/http_client_test.go
  backend/httpclient/provider.go
  backend/httpclient/provider_example_test.go
  backend/httpclient/provider_test.go
  backend/httpclient/response_limit_middleware.go
  backend/log_test.go
  backend/resource/httpadapter/doc_test.go
  backend/resource/httpadapter/handler_test.go
  backend/resource_adapter_test.go
  backend/stream_adapter_test.go
  build/utils/copy_test.go
  data/framestruct/converter_test.go
  experimental/e2e/fixture/fixture_test.go
  experimental/macros/time_macros.go
  experimental/mock/roundtripper_test.go
  internal/tenant/tenanttest/tenant_test.go
Owners: @grafana/plugins-platform-backend, @grafana/data-plane-wg

update existing test
  data/sqlutil/macros_test.go
Owners: @grafana/oss-big-tent

better comments
  backend/admission.go
Owners: @grafana/plugins-platform-backend

add response status to validate method
  backend/admission.go
  backend/convert_from_protobuf.go
  backend/convert_to_protobuf.go
  genproto/pluginv2/backend.pb.go
  proto/backend.proto
Owners: @grafana/plugins-platform-backend

Update backend/admission.go
  backend/admission.go
Owners: @grafana/plugins-platform-backend

API: Add new AdmissionControl service (experimental for now) (#983)
  backend/admission.go
  backend/admission_adapter.go
  backend/app/manage.go
  backend/common.go
  backend/convert_from_protobuf.go
  backend/convert_from_protobuf_test.go
  backend/convert_to_protobuf.go
  backend/convert_to_protobuf_test.go
  backend/datasource/manage.go
  backend/datasource/serve.go
  backend/diagnostics.go
  backend/grpcplugin/grpc_admission.go
  backend/grpcplugin/serve.go
  backend/serve.go
  genproto/pluginv2/backend.pb.go
  genproto/pluginv2/backend_grpc.pb.go
  proto/backend.proto
Owners: @grafana/plugins-platform-backend

SQL: Apply longer macros before shorter macros (#992)
  data/sqlutil/macros.go
  data/sqlutil/macros_test.go
Owners: @grafana/oss-big-tent

Add Admission hooks to auto management
  backend/datasource/manage.go
  internal/automanagement/manager.go
Owners: @grafana/plugins-platform-backend

slo - capture plugin duration for http based plugins
  experimental/slo/metrics.go
  experimental/slo/slo_middleware.go
Owners: @grafana/plugins-platform-backend

cleanup
  experimental/slo/metrics.go
Owners: @grafana/plugins-platform-backend

lint
  experimental/slo/slo_middleware.go
Owners: @grafana/plugins-platform-backend

lint
  experimental/slo/slo_middleware.go
Owners: @grafana/plugins-platform-backend

cleanup
  experimental/slo/slo_middleware.go
Owners: @grafana/plugins-platform-backend

lint
  experimental/slo/metrics.go
  experimental/slo/slo_middleware.go
Owners: @grafana/plugins-platform-backend

compatibility checks
  experimental/slo/metrics.go
  experimental/slo/slo_middleware.go
Owners: @grafana/plugins-platform-backend

handle concurrency
  experimental/slo/metrics.go
  experimental/slo/slo_middleware.go
Owners: @grafana/plugins-platform-backend

update arrow
  data/arrow.go
  data/arrow_column_builders.go
  data/arrow_test.go
  data/frame_json.gen.go
  data/frame_json.go
  go.mod
  go.sum
Owners: @grafana/data-plane-wg, @grafana/plugins-platform-backend

add middleware tests
  experimental/slo/slo_middleware.go
  experimental/slo/slo_middleware_test.go
Owners: @grafana/plugins-platform-backend

remove comment
  experimental/slo/slo_middleware.go
Owners: @grafana/plugins-platform-backend

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# these will be requested for review when someone opens a pull request.
* @grafana/plugins-platform-backend
/backend/gtime @grafana/observability-metrics @grafana/observability-logs @grafana/partner-datasources
/data/ @grafana/data-plane-wg
/data/sqlutil @grafana/oss-big-tent
