Repository grafana/grafana-plugin-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/plugins-platform-backend, @grafana/observability-metrics, @grafana/observability-logs, @grafana/partner-datasources, @grafana/data-plane-wg, @grafana/oss-big-tent

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# these will be requested for review when someone opens a pull request.
* @grafana/plugins-platform-backend
/backend/gtime @grafana/observability-metrics @grafana/observability-logs @grafana/partner-datasources
/data/ @grafana/data-plane-wg
/data/sqlutil @grafana/oss-big-tent

update max bytes reader middleware error message
  backend/httpclient/max_bytes_reader.go
  backend/httpclient/max_bytes_reader_test.go
  backend/httpclient/response_limit_middleware_test.go
Owners: @grafana/plugins-platform-backend

attempt to improve the naming
  backend/httpclient/max_bytes_reader.go
Owners: @grafana/plugins-platform-backend

rename
  backend/httpclient/max_bytes_reader.go
Owners: @grafana/plugins-platform-backend

Chore: Update max bytes reader middleware error message (#1072)
  backend/httpclient/max_bytes_reader.go
  backend/httpclient/max_bytes_reader_test.go
  backend/httpclient/response_limit_middleware_test.go
Owners: @grafana/plugins-platform-backend

Draft: QueryConversionHandler
  backend/conversion_adapter.go
  backend/data_adapter.go
  backend/data_adapter_test.go
  backend/log_test.go
  backend/query_conversion.go
  backend/serve.go
Owners: @grafana/plugins-platform-backend

parse first field
  data/field_type.go
  data/frame_json.go
  data/frame_json_test.go
Owners: @grafana/data-plane-wg

lint
  data/frame_json.go
Owners: @grafana/data-plane-wg

Chore: Fix DeepCopyInto for DataQuery
  experimental/apis/data/v0alpha1/query.go
Owners: @grafana/plugins-platform-backend

simplify
  data/frame_json.go
Owners: @grafana/data-plane-wg

test each value as the only field
  data/frame_json.go
  data/frame_json_test.go
Owners: @grafana/data-plane-wg

test in CI?
  data/frame_json.go
Owners: @grafana/data-plane-wg

CI with nullable
  data/frame_json.go
Owners: @grafana/data-plane-wg

fix
  data/frame_json.go
Owners: @grafana/data-plane-wg

add test coverage
  experimental/apis/data/v0alpha1/query_test.go
Owners: @grafana/plugins-platform-backend

JSON: Ensure all fields types work as expected when they are the first field in a frame (#1080)
  data/field_type.go
  data/frame_json.go
  data/frame_json_test.go
Owners: @grafana/data-plane-wg

Chore: Fix DeepCopyInto for DataQuery (#1081)
  experimental/apis/data/v0alpha1/query.go
  experimental/apis/data/v0alpha1/query_test.go
Owners: @grafana/plugins-platform-backend

Remove unused repo info from build
  build/common.go
  build/info.go
  build/info_test.go
Owners: @grafana/plugins-platform-backend

fix tests and lint
  build/common_test.go
  build/info.go
Owners: @grafana/plugins-platform-backend

Handler middlewares
  backend/handler.go
  backend/handler_middleware.go
  backend/handler_middleware_test.go
  backend/handlertest/handlertest.go
  backend/stream.go
Owners: @grafana/plugins-platform-backend

review
  backend/conversion_adapter.go
  backend/query_conversion.go
  internal/automanagement/manager.go
Owners: @grafana/plugins-platform-backend

review and tests
  backend/conversion.go
  backend/conversion_adapter.go
  backend/conversion_adapter_test.go
  backend/query_conversion.go
  internal/automanagement/manager.go
Owners: @grafana/plugins-platform-backend

update comment
  backend/conversion.go
Owners: @grafana/plugins-platform-backend

comment
  backend/conversion_adapter.go
Owners: @grafana/plugins-platform-backend

Query conversion handler (#1078)
  backend/conversion.go
  backend/conversion_adapter.go
  backend/conversion_adapter_test.go
  backend/datasource/manage.go
  backend/query_conversion.go
  backend/serve.go
  internal/automanagement/manager.go
Owners: @grafana/plugins-platform-backend

Mark duplicate names as downstream
  data/sqlutil/scanrow.go
Owners: @grafana/oss-big-tent

Add downstream to interval parsing
  backend/gtime/gtime.go
Owners: @grafana/observability-metrics, @grafana/observability-logs, @grafana/partner-datasources

Mark no such host error as downstream
  experimental/errorsource/error_source_middleware.go
Owners: @grafana/plugins-platform-backend

SQLUtil: Mark errors regarding duplicate column names as downstream (#1087)
  data/sqlutil/scanrow.go
Owners: @grafana/oss-big-tent

Add downstream to interval parsing (#1088)
  backend/gtime/gtime.go
Owners: @grafana/observability-metrics, @grafana/observability-logs, @grafana/partner-datasources

Mark no such host error as downstream (#1089)
  experimental/errorsource/error_source_middleware.go
Owners: @grafana/plugins-platform-backend

setup context in middleware handler
  backend/conversion.go
  backend/conversion_adapter.go
  backend/handler_middleware.go
Owners: @grafana/plugins-platform-backend

Remove repo info from binary (#1091)
  build/common.go
  build/common_test.go
  build/info.go
  build/info_test.go
Owners: @grafana/plugins-platform-backend

Mark parse errors as downstream
  backend/gtime/gtime.go
Owners: @grafana/observability-metrics, @grafana/observability-logs, @grafana/partner-datasources

Mark parse errors as downstream (#1093)
  backend/gtime/gtime.go
Owners: @grafana/observability-metrics, @grafana/observability-logs, @grafana/partner-datasources

Missed a spot
  backend/gtime/gtime.go
Owners: @grafana/observability-metrics, @grafana/observability-logs, @grafana/partner-datasources

Update backend/stream.go
  backend/stream.go
Owners: @grafana/plugins-platform-backend

updates after review
  backend/handler_middleware.go
Owners: @grafana/plugins-platform-backend

Mark invalid duration as downstream error (#1094)
  backend/gtime/gtime.go
Owners: @grafana/observability-metrics, @grafana/observability-logs, @grafana/partner-datasources

Handler middlewares (#1019)
  backend/conversion.go
  backend/conversion_adapter.go
  backend/handler.go
  backend/handler_middleware.go
  backend/handler_middleware_test.go
  backend/handlertest/handlertest.go
  backend/stream.go
Owners: @grafana/plugins-platform-backend

Remove datasource settings from QueryConversionHandler
  backend/datasource/manage.go
  internal/automanagement/manager.go
Owners: @grafana/plugins-platform-backend
