Repository grafana/grafana-plugin-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/plugins-platform-backend, @grafana/observability-metrics, @grafana/observability-logs, @grafana/partner-datasources, @grafana/data-plane-wg, @grafana/oss-big-tent

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# these will be requested for review when someone opens a pull request.
* @grafana/plugins-platform-backend
/backend/gtime @grafana/observability-metrics @grafana/observability-logs @grafana/partner-datasources
/data/ @grafana/data-plane-wg
/data/sqlutil @grafana/oss-big-tent

fix: use hash of proxy settings as part of datasource instance cache key
  backend/datasource/instance_provider.go
  backend/datasource/instance_provider_test.go
  backend/proxy/secure_socks_proxy.go
Owners: @grafana/plugins-platform-backend

review feedback
  backend/config.go
  backend/config_test.go
  backend/datasource/instance_provider.go
  backend/datasource/instance_provider_test.go
  backend/proxy/secure_socks_proxy.go
Owners: @grafana/plugins-platform-backend

Add comment
  backend/internal/endpointctx/endpointctx.go
Owners: @grafana/plugins-platform-backend

Amend comment location
  backend/internal/endpointctx/endpointctx.go
Owners: @grafana/plugins-platform-backend

Data source HTTP metrics (#1130)
  backend/endpoint.go
  backend/httpclient/datasource_metrics_middleware.go
  backend/httpclient/datasource_metrics_middleware_test.go
  backend/httpclient/http_client.go
  backend/httpclient/http_client_test.go
  backend/httpclient/provider_test.go
  backend/internal/endpointctx/endpointctx.go
Owners: @grafana/plugins-platform-backend

Export errors for time series processing
  data/time_series.go
  data/time_series_errors.go
Owners: @grafana/data-plane-wg

Add more
  data/time_series.go
  data/time_series_errors.go
Owners: @grafana/data-plane-wg

Update data/time_series_errors.go
  data/time_series_errors.go
Owners: @grafana/data-plane-wg

Fix lint
  data/time_series_errors.go
Owners: @grafana/data-plane-wg

Keep errors in same format
  data/time_series.go
Owners: @grafana/data-plane-wg

Update
  data/time_series_errors.go
Owners: @grafana/data-plane-wg

Fix lint
  data/time_series_errors.go
Owners: @grafana/data-plane-wg

Export errors for time series processing (#1134)
  data/time_series.go
  data/time_series_errors.go
Owners: @grafana/data-plane-wg

Handle endpoint type correctly
  backend/httpclient/datasource_metrics_middleware.go
Owners: @grafana/plugins-platform-backend

Handle endpoint type correctly (#1135)
  backend/httpclient/datasource_metrics_middleware.go
Owners: @grafana/plugins-platform-backend

Mark err as downstream if its from the secure socks proxy
  experimental/status/status_source.go
Owners: @grafana/plugins-platform-backend

add test
  experimental/status/status_source.go
  experimental/status/status_source_test.go
Owners: @grafana/plugins-platform-backend

mark error in dialcontext
  backend/proxy/secure_socks_proxy.go
  experimental/status/status_source.go
  experimental/status/status_source_test.go
Owners: @grafana/plugins-platform-backend

fix tests
  backend/proxy/secure_socks_proxy.go
  backend/proxy/secure_socks_proxy_test.go
Owners: @grafana/plugins-platform-backend

Mark err as downstream if its from the secure socks proxy (#1136)
  backend/proxy/secure_socks_proxy.go
  backend/proxy/secure_socks_proxy_test.go
Owners: @grafana/plugins-platform-backend

backend: Update DataSourceInstanceSettings to implement interface required by request interceptor
  backend/common.go
Owners: @grafana/plugins-platform-backend

revamp based on review feedback
  backend/config.go
  backend/config_test.go
  backend/datasource/instance_provider_test.go
  backend/proxy/secure_socks_proxy.go
Owners: @grafana/plugins-platform-backend

One more rework, logic back here but cached
  backend/config.go
  backend/datasource/instance_provider.go
  backend/datasource/instance_provider_test.go
Owners: @grafana/plugins-platform-backend

goimports
  backend/datasource/instance_provider.go
Owners: @grafana/plugins-platform-backend

One final revamp (I hope)
  backend/config.go
  backend/datasource/instance_provider.go
  backend/datasource/instance_provider_test.go
  backend/proxy/secure_socks_proxy.go
Owners: @grafana/plugins-platform-backend

final review feedback
  backend/datasource/instance_provider.go
  backend/datasource/instance_provider_test.go
Owners: @grafana/plugins-platform-backend

https://github.com/grafana/grafana-plugin-sdk-go/issues/1147: Implement default timeFromValue and timeToValue
  data/sqlutil/macros.go
  data/sqlutil/macros_test.go
Owners: @grafana/oss-big-tent

Use hash of proxy settings as part of datasource instance cache key (#1133)
  backend/config.go
  backend/datasource/instance_provider.go
  backend/datasource/instance_provider_test.go
Owners: @grafana/plugins-platform-backend

Experimental error source: Deprecate and remove
  backend/error_source.go
  backend/httpclient/error_source_middleware.go
  experimental/errorsource/error_source.go
  experimental/errorsource/error_source_middleware.go
  experimental/errorsource/error_source_test.go
  experimental/errorsource/httpclient/http_client.go
  experimental/errorsource/httpclient/http_client_test.go
  experimental/status/status_source.go
Owners: @grafana/plugins-platform-backend

Update
  backend/error_source.go
  experimental/errorsource/error_source.go
Owners: @grafana/plugins-platform-backend

Fix errors
  backend/gtime/gtime.go
  data/sqlutil/scanrow.go
  experimental/errorsource/error_source.go
  experimental/status/status_source_test.go
  internal/automanagement/manager.go
Owners: @grafana/observability-metrics, @grafana/observability-logs, @grafana/partner-datasources, @grafana/oss-big-tent, @grafana/plugins-platform-backend

Fix lint
  backend/error_source.go
  experimental/errorsource/error_source.go
  experimental/status/status_source.go
  experimental/status/status_source_test.go
  internal/automanagement/manager.go
Owners: @grafana/plugins-platform-backend

Update tests
  backend/gtime/gtime_test.go
  experimental/errorsource/error_source_test.go
Owners: @grafana/observability-metrics, @grafana/observability-logs, @grafana/partner-datasources, @grafana/plugins-platform-backend

Remove datasource label and update test
  backend/httpclient/datasource_metrics_middleware.go
  backend/httpclient/datasource_metrics_middleware_test.go
Owners: @grafana/plugins-platform-backend

Fix potential nil panic
  backend/httpclient/datasource_metrics_middleware.go
Owners: @grafana/plugins-platform-backend

Update to create the labels inside the middleware function
  backend/httpclient/datasource_metrics_middleware.go
  backend/httpclient/datasource_metrics_middleware_test.go
Owners: @grafana/plugins-platform-backend

Update datasource metrics middleware (#1151)
  backend/httpclient/datasource_metrics_middleware.go
  backend/httpclient/datasource_metrics_middleware_test.go
Owners: @grafana/plugins-platform-backend

fix: capture key bytes rather than PEM trailing ---- for proxy hash
  backend/config.go
  backend/config_test.go
  backend/datasource/instance_provider.go
  backend/datasource/instance_provider_test.go
Owners: @grafana/plugins-platform-backend

fix: we really don't need to worry about math/rand in this test
  backend/config_test.go
Owners: @grafana/plugins-platform-backend

Fix a minor test quirk
  backend/datasource/instance_provider_test.go
Owners: @grafana/plugins-platform-backend
