Repository grafana/grafana-plugin-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/plugins-platform-backend, @grafana/observability-metrics, @grafana/observability-logs, @grafana/partner-datasources, @grafana/data-plane-wg, @grafana/oss-big-tent

Expand `TestJSONNotice`
  data/frame_meta_test.go
Owners: @grafana/data-plane-wg

Fix info severity level going missing during JSON conversions
  data/frame_meta.go
  data/frame_meta_test.go
  experimental/testdata/frame-non-custom-meta.golden.jsonc
  experimental/testdata/frame-non-custom-meta.golden.txt
Owners: @grafana/data-plane-wg, @grafana/plugins-platform-backend

update deps
  go.mod
  go.sum
Owners: @grafana/plugins-platform-backend

Update deps (#1186)
  go.mod
  go.sum
Owners: @grafana/plugins-platform-backend

add clarifying comment
  backend/proxy/secure_socks_proxy.go
Owners: @grafana/plugins-platform-backend

do not log error when standlone.txt does not exist
  internal/standalone/standalone.go
Owners: @grafana/plugins-platform-backend

Fix missing info severity level in JSON for notices in frame meta (#1185)
  data/frame_meta.go
  data/frame_meta_test.go
  experimental/testdata/frame-non-custom-meta.golden.jsonc
  experimental/testdata/frame-non-custom-meta.golden.txt
Owners: @grafana/data-plane-wg, @grafana/plugins-platform-backend

move more logic to SDK
  backend/data_adapter.go
Owners: @grafana/plugins-platform-backend

update comment
  backend/data_adapter.go
Owners: @grafana/plugins-platform-backend

Update backend/proxy/secure_socks_proxy.go
  backend/proxy/secure_socks_proxy.go
Owners: @grafana/plugins-platform-backend

fixup suggestion comment
  backend/proxy/secure_socks_proxy.go
Owners: @grafana/plugins-platform-backend

add more tests
  backend/data_adapter_test.go
Owners: @grafana/plugins-platform-backend

fix linter
  backend/data_adapter_test.go
Owners: @grafana/plugins-platform-backend

Enrich errors with error source using grpc status package (#1163)
  backend/data_adapter.go
  backend/data_adapter_test.go
  backend/error_source.go
  experimental/status/status_source.go
  experimental/status/status_source_test.go
Owners: @grafana/plugins-platform-backend

do not log error when standlone.txt does not exist (#1188)
  internal/standalone/standalone.go
Owners: @grafana/plugins-platform-backend

backend: fix unmarshaling empty refids
  backend/json.go
  backend/json_test.go
Owners: @grafana/plugins-platform-backend

pr comments
  backend/proxy/secure_socks_proxy.go
Owners: @grafana/plugins-platform-backend

Fix: Check for missing client config in secure socks proxy check (#1179)
  backend/proxy/secure_socks_proxy.go
  backend/proxy/secure_socks_proxy_test.go
Owners: @grafana/plugins-platform-backend

backend: QueryDataResponse unmarshal: empty refId case signaled explicitly
  backend/json.go
  backend/json_test.go
Owners: @grafana/plugins-platform-backend

Feat: Build manifest on every backend build
  build/common.go
Owners: @grafana/plugins-platform-backend

Mark EOF errors comming from http request as downstream
  experimental/status/status_source.go
  experimental/status/status_source_test.go
Owners: @grafana/plugins-platform-backend

Mark EOF errors comming from http request as downstream
  experimental/status/status_source.go
  experimental/status/status_source_test.go
Owners: @grafana/plugins-platform-backend

Fix comment
  experimental/status/status_source.go
Owners: @grafana/plugins-platform-backend

Changes from CR
  build/common.go
Owners: @grafana/plugins-platform-backend

Feat: Build manifest on every backend build (#1191)
  build/common.go
Owners: @grafana/plugins-platform-backend

backend: fix unmarshaling empty refids (#1189)
  backend/json.go
  backend/json_test.go
Owners: @grafana/plugins-platform-backend

Only http io.EOF errors are cosidered downstream
  experimental/status/status_source.go
  experimental/status/status_source_test.go
Owners: @grafana/plugins-platform-backend

Update comment
  experimental/status/status_source.go
Owners: @grafana/plugins-platform-backend

Mark EOF errors coming from http request as downstream (#1192)
  experimental/status/status_source.go
  experimental/status/status_source_test.go
Owners: @grafana/plugins-platform-backend

Skip empty headers key if they present
  backend/httpclient/custom_headers_middleware.go
  backend/httpclient/custom_headers_middleware_test.go
Owners: @grafana/plugins-platform-backend

clarify test
  backend/httpclient/custom_headers_middleware_test.go
Owners: @grafana/plugins-platform-backend

data: Add NilAt method to Field
  data/field.go
  data/field_test.go
  data/field_type_enum.go
  data/generic_nullable_vector.go
  data/generic_vector.go
  data/nullable_vector.gen.go
  data/vector.gen.go
  data/vector.go
Owners: @grafana/data-plane-wg

lint
  data/field_type_enum.go
Owners: @grafana/data-plane-wg

also Frame method
  data/frame.go
Owners: @grafana/data-plane-wg

data: Add frame.SetRefID method
  data/field.go
  data/frame.go
Owners: @grafana/data-plane-wg

data: Add frame.SetRefID method (#1209)
  data/field.go
  data/frame.go
Owners: @grafana/data-plane-wg

data: Add NilAt method to Field and Frame (#1208)
  data/field.go
  data/field_test.go
  data/field_type_enum.go
  data/frame.go
  data/generic_nullable_vector.go
  data/generic_vector.go
  data/nullable_vector.gen.go
  data/vector.gen.go
  data/vector.go
Owners: @grafana/data-plane-wg

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# these will be requested for review when someone opens a pull request.
* @grafana/plugins-platform-backend
/backend/gtime @grafana/observability-metrics @grafana/observability-logs @grafana/partner-datasources
/data/ @grafana/data-plane-wg
/data/sqlutil @grafana/oss-big-tent
