Repository grafana/grafana-plugin-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/plugins-platform-backend, @grafana/observability-metrics, @grafana/observability-logs, @grafana/partner-datasources, @grafana/data-plane-wg, @grafana/oss-big-tent

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# these will be requested for review when someone opens a pull request.
* @grafana/plugins-platform-backend
/backend/gtime @grafana/observability-metrics @grafana/observability-logs @grafana/partner-datasources
/data/ @grafana/data-plane-wg
/data/sqlutil @grafana/oss-big-tent

Update experimental/errorsource/error_source_middleware.go
  experimental/errorsource/error_source_middleware.go
Owners: @grafana/plugins-platform-backend

Update experimental/errorsource/error_source_middleware.go
  experimental/errorsource/error_source_middleware.go
Owners: @grafana/plugins-platform-backend

Update experimental/errorsource/error_source_middleware.go
  experimental/errorsource/error_source_middleware.go
Owners: @grafana/plugins-platform-backend

review feedback
  backend/config.go
Owners: @grafana/plugins-platform-backend

Don't prepend error source before error
  backend/gtime/gtime_test.go
  experimental/status/status_source.go
Owners: @grafana/observability-metrics, @grafana/observability-logs, @grafana/partner-datasources, @grafana/plugins-platform-backend

Update tests to reflect changes from previous commit
  backend/proxy/secure_socks_proxy_test.go
  experimental/errorsource/error_source_test.go
Owners: @grafana/plugins-platform-backend

Deprecate `experimental/errorsource` and remove `experimental/errorsource/httpclient` (#1150)
  backend/error_source.go
  backend/gtime/gtime.go
  backend/httpclient/error_source_middleware.go
  backend/proxy/secure_socks_proxy_test.go
  data/sqlutil/scanrow.go
  experimental/errorsource/error_source.go
  experimental/errorsource/error_source_middleware.go
  experimental/errorsource/error_source_test.go
  experimental/errorsource/httpclient/http_client.go
  experimental/errorsource/httpclient/http_client_test.go
  experimental/status/status_source.go
  experimental/status/status_source_test.go
  internal/automanagement/manager.go
Owners: @grafana/plugins-platform-backend, @grafana/observability-metrics, @grafana/observability-logs, @grafana/partner-datasources, @grafana/oss-big-tent

Update backend/config.go
  backend/config.go
Owners: @grafana/plugins-platform-backend

Cleanup from review feedback
  backend/datasource/instance_provider.go
Owners: @grafana/plugins-platform-backend

Fix proxy hash (#1157)
  backend/config.go
  backend/config_test.go
  backend/datasource/instance_provider_test.go
Owners: @grafana/plugins-platform-backend

Fix error source bug in ErrorResponseWithErrorSource
  backend/error_source.go
  backend/error_source_test.go
Owners: @grafana/plugins-platform-backend

Fix lint
  backend/error_source_test.go
Owners: @grafana/plugins-platform-backend

Add tests
  backend/error_source_test.go
Owners: @grafana/plugins-platform-backend

Fix error source bug in ErrorResponseWithErrorSource (#1158)
  backend/error_source.go
  backend/error_source_test.go
Owners: @grafana/plugins-platform-backend

Set relevant errors to downstream
  data/sqlutil/sql.go
Owners: @grafana/oss-big-tent

reading plugin settings from environment variable
  backend/common.go
  backend/plugin_context.go
  backend/plugin_context_test.go
Owners: @grafana/plugins-platform-backend

fix linting issues
  backend/plugin_context.go
Owners: @grafana/plugins-platform-backend

Revert source change
  data/sqlutil/sql.go
Owners: @grafana/oss-big-tent

feat: add `system` field to data source instances
  backend/common.go
Owners: @grafana/plugins-platform-backend

fix: tests
  genproto/pluginv2/backend.pb.go
Owners: @grafana/plugins-platform-backend

fix: tests
  backend/common_test.go
  backend/convert_from_protobuf.go
  backend/convert_from_protobuf_test.go
  backend/convert_to_protobuf.go
  backend/convert_to_protobuf_test.go
  genproto/pluginv2/backend.pb.go
  proto/backend.proto
Owners: @grafana/plugins-platform-backend

enrich errors with error source using grpc status package
  backend/data_adapter.go
  backend/error_source.go
  experimental/status/status_source.go
Owners: @grafana/plugins-platform-backend

SQL: Set relevant errors to downstream (#1159)
  data/sqlutil/sql.go
Owners: @grafana/oss-big-tent

update arrow 18
  data/arrow.go
  data/arrow_column_builders.go
  data/arrow_test.go
  data/frame_json.gen.go
  data/frame_json.go
  data/testdata/all_types.golden.arrow
  go.mod
  go.sum
Owners: @grafana/data-plane-wg, @grafana/plugins-platform-backend

use arrow without json support
  go.mod
  go.sum
Owners: @grafana/plugins-platform-backend

Chore: Add arrow_json_stdlib build tag
  build/common.go
  build/common_test.go
Owners: @grafana/plugins-platform-backend

Arrow: Update arrow to v18 (#1164)
  data/arrow.go
  data/arrow_column_builders.go
  data/arrow_test.go
  data/frame_json.gen.go
  data/frame_json.go
  data/testdata/all_types.golden.arrow
  go.mod
  go.sum
Owners: @grafana/data-plane-wg, @grafana/plugins-platform-backend

Chore: Add arrow_json_stdlib build tag
  build/common.go
  build/common_test.go
Owners: @grafana/plugins-platform-backend

Chore: Add arrow_json_stdlib build tag (#1165)
  build/common.go
  build/common_test.go
Owners: @grafana/plugins-platform-backend

add tests
  backend/data_adapter.go
  backend/data_adapter_test.go
  experimental/status/status_source_test.go
Owners: @grafana/plugins-platform-backend

fix lint issues
  backend/data_adapter_test.go
Owners: @grafana/plugins-platform-backend

Chore: Update apache/arrow-go
  go.mod
  go.sum
Owners: @grafana/plugins-platform-backend

Chore: Update apache/arrow-go (#1170)
  go.mod
  go.sum
Owners: @grafana/plugins-platform-backend

Mark TLS certificate verification error as downstream
  experimental/status/status_source.go
  experimental/status/status_source_test.go
Owners: @grafana/plugins-platform-backend

Mark TLS certificate verification error as downstream
  experimental/status/status_source.go
  experimental/status/status_source_test.go
Owners: @grafana/plugins-platform-backend

Fix lint
  experimental/status/status_source.go
  experimental/status/status_source_test.go
Owners: @grafana/plugins-platform-backend

Mark TLS certificate verification error as downstream (#1171)
  experimental/status/status_source.go
  experimental/status/status_source_test.go
Owners: @grafana/plugins-platform-backend

test: error with no refid
  backend/json_test.go
Owners: @grafana/plugins-platform-backend

Add helper for batching by time range
  backend/data.go
  backend/data_test.go
Owners: @grafana/plugins-platform-backend

Fix: Check for missing client config in secure socks proxy check
  backend/proxy/secure_socks_proxy.go
  backend/proxy/secure_socks_proxy_test.go
Owners: @grafana/plugins-platform-backend
