Repository grafana/grafana-plugin-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/plugins-platform-backend, @grafana/observability-metrics, @grafana/observability-logs, @grafana/partner-datasources, @grafana/data-plane-wg, @grafana/oss-big-tent

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# these will be requested for review when someone opens a pull request.
* @grafana/plugins-platform-backend
/backend/gtime @grafana/observability-metrics @grafana/observability-logs @grafana/partner-datasources
/data/ @grafana/data-plane-wg
/data/sqlutil @grafana/oss-big-tent

now with unstructured
  experimental/resource/query.definition.schema.json
  experimental/resource/schemabuilder/reflector.go
Owners: @grafana/plugins-platform-backend

now with unstructured
  experimental/resource/schemabuilder/examples.go
  experimental/resource/schemabuilder/reflector.go
Owners: @grafana/plugins-platform-backend

more copy methods
  backend/data.go
  experimental/resource/openapi.go
Owners: @grafana/plugins-platform-backend

Update proto/backend.proto
  proto/backend.proto
Owners: @grafana/plugins-platform-backend

add apiVersion on the settings
  backend/common.go
  backend/convert_from_protobuf.go
  backend/convert_from_protobuf_test.go
  backend/convert_to_protobuf.go
  genproto/pluginv2/backend.pb.go
  genproto/pluginv2/backend_grpc.pb.go
  proto/backend.proto
Owners: @grafana/plugins-platform-backend

fix lint remove parser
  backend/data.go
  experimental/resource/openapi.go
  experimental/resource/openapi_test.go
  experimental/resource/panel.go
  experimental/resource/query.go
  experimental/resource/query_parser.go
  experimental/resource/query_test.go
  experimental/resource/schemabuilder/examples.go
  experimental/resource/schemabuilder/reflector.go
  experimental/resource/testdata/sample_query_results.json
Owners: @grafana/plugins-platform-backend

fix lint
  backend/data.go
Owners: @grafana/plugins-platform-backend

panel cleanup
  experimental/resource/panel.go
  experimental/resource/schemabuilder/example/query.panel.example.json
  experimental/resource/unstructured.go
Owners: @grafana/plugins-platform-backend

panel cleanup
  experimental/resource/openapi.go
  experimental/resource/schemabuilder/reflector_test.go
  experimental/resource/schemabuilder/schema.go
Owners: @grafana/plugins-platform-backend

inline timerange
  experimental/resource/query.go
  experimental/resource/query.schema.json
  experimental/resource/schemabuilder/example/query.panel.schema.json
  experimental/resource/schemabuilder/example/query.request.example.json
  experimental/resource/schemabuilder/example/query.request.schema.json
  experimental/resource/schemabuilder/examples.go
Owners: @grafana/plugins-platform-backend

more deepcopy
  experimental/resource/query.go
Owners: @grafana/plugins-platform-backend

hopefully last big package rename
  experimental/schemabuilder/enums.go
  experimental/schemabuilder/enums_test.go
  experimental/schemabuilder/example/query.go
  experimental/schemabuilder/example/query.panel.example.json
  experimental/schemabuilder/example/query.panel.schema.json
  experimental/schemabuilder/example/query.request.example.json
  experimental/schemabuilder/example/query.request.schema.json
  experimental/schemabuilder/example/query.types.json
  experimental/schemabuilder/example/query_test.go
  experimental/schemabuilder/examples.go
  experimental/schemabuilder/reflector.go
  experimental/schemabuilder/reflector_test.go
  experimental/schemabuilder/schema.go
  experimental/testdata/folder.golden.txt
  v0alpha1/metaV1.go
  v0alpha1/openapi.go
  v0alpha1/openapi_test.go
  v0alpha1/panel.go
  v0alpha1/query.definition.schema.json
  v0alpha1/query.go
  v0alpha1/query.schema.json
  v0alpha1/query_definition.go
  v0alpha1/query_test.go
  v0alpha1/schema.go
  v0alpha1/schema_test.go
  v0alpha1/settings.go
  v0alpha1/testdata/sample_query_results.json
  v0alpha1/unstructured.go
Owners: @grafana/plugins-platform-backend

loading frame types
  experimental/schemabuilder/reflector.go
  experimental/schemabuilder/reflector_test.go
  v0alpha1/query.schema.json
Owners: @grafana/plugins-platform-backend

loading frame types
  experimental/schemabuilder/reflector.go
Owners: @grafana/plugins-platform-backend

fix test
  experimental/schemabuilder/example/query.panel.schema.json
  experimental/schemabuilder/example/query.request.schema.json
Owners: @grafana/plugins-platform-backend

remove unused settings configs
  experimental/schemabuilder/reflector.go
  v0alpha1/settings.go
Owners: @grafana/plugins-platform-backend

move panel to schema builder
  experimental/schemabuilder/panel.go
  experimental/schemabuilder/reflector.go
  v0alpha1/panel.go
  v0alpha1/query.go
Owners: @grafana/plugins-platform-backend

implement deep copy
  backend/data.go
  data/frame_type.go
Owners: @grafana/plugins-platform-backend, @grafana/data-plane-wg

implement deep copy (#916)
  backend/data.go
  data/frame_type.go
Owners: @grafana/plugins-platform-backend, @grafana/data-plane-wg

use k8s style paths
  apis/README.md
  apis/sdkapi/v0alpha1/metaV1.go
  apis/sdkapi/v0alpha1/openapi.go
  apis/sdkapi/v0alpha1/openapi_test.go
  apis/sdkapi/v0alpha1/query.definition.schema.json
  apis/sdkapi/v0alpha1/query.go
  apis/sdkapi/v0alpha1/query.schema.json
  apis/sdkapi/v0alpha1/query_definition.go
  apis/sdkapi/v0alpha1/query_test.go
  apis/sdkapi/v0alpha1/schema.go
  apis/sdkapi/v0alpha1/schema_test.go
  apis/sdkapi/v0alpha1/testdata/sample_query_results.json
  apis/sdkapi/v0alpha1/unstructured.go
  experimental/schemabuilder/example/query_test.go
  experimental/schemabuilder/examples.go
  experimental/schemabuilder/panel.go
  experimental/schemabuilder/reflector.go
  experimental/schemabuilder/reflector_test.go
  experimental/schemabuilder/schema.go
Owners: @grafana/plugins-platform-backend

use codegen
  apis/sdkapi/v0alpha1/query.go
  apis/sdkapi/v0alpha1/query_definition.go
Owners: @grafana/plugins-platform-backend

use codegen
  apis/sdkapi/v0alpha1/zz_generated.deepcopy.go
Owners: @grafana/plugins-platform-backend

lint
  apis/sdkapi/v0alpha1/query.go
Owners: @grafana/plugins-platform-backend

Response limit middleware
  backend/config.go
  backend/httpclient/config/max_bytes_reader.go
  backend/httpclient/config/max_bytes_reader_test.go
  backend/httpclient/config/response_limit_middleware.go
  backend/httpclient/config/response_limit_middleware_test.go
Owners: @grafana/plugins-platform-backend

rename to data
  apis/data/v0alpha1/client.go
  apis/data/v0alpha1/client_test.go
  apis/data/v0alpha1/metaV1.go
  apis/data/v0alpha1/openapi.go
  apis/data/v0alpha1/openapi_test.go
  apis/data/v0alpha1/query.definition.schema.json
  apis/data/v0alpha1/query.go
  apis/data/v0alpha1/query.schema.json
  apis/data/v0alpha1/query_definition.go
  apis/data/v0alpha1/query_test.go
  apis/data/v0alpha1/schema.go
  apis/data/v0alpha1/schema_test.go
  apis/data/v0alpha1/testdata/sample_query_results.json
  apis/data/v0alpha1/unstructured.go
  apis/data/v0alpha1/zz_generated.deepcopy.go
  experimental/schemabuilder/example/query_test.go
  experimental/schemabuilder/examples.go
  experimental/schemabuilder/panel.go
  experimental/schemabuilder/reflector.go
  experimental/schemabuilder/reflector_test.go
  experimental/schemabuilder/schema.go
Owners: @grafana/plugins-platform-backend

update readme
  apis/README.md
Owners: @grafana/plugins-platform-backend

update headers
  apis/README.md
  apis/data/v0alpha1/client.go
  apis/data/v0alpha1/client_test.go
Owners: @grafana/plugins-platform-backend

update headers
  apis/data/v0alpha1/doc.go
Owners: @grafana/plugins-platform-backend

Review
  backend/httpclient/config/response_limit_middleware.go
  backend/httpclient/config/response_limit_middleware_test.go
Owners: @grafana/plugins-platform-backend

move package
  apis/README.md
  apis/data/v0alpha1/client.go
  apis/data/v0alpha1/client_test.go
  apis/data/v0alpha1/doc.go
  apis/data/v0alpha1/metaV1.go
  apis/data/v0alpha1/openapi.go
  apis/data/v0alpha1/openapi_test.go
  apis/data/v0alpha1/query.definition.schema.json
  apis/data/v0alpha1/query.go
  apis/data/v0alpha1/query.schema.json
  apis/data/v0alpha1/query_definition.go
  apis/data/v0alpha1/query_test.go
  apis/data/v0alpha1/schema.go
  apis/data/v0alpha1/schema_test.go
  apis/data/v0alpha1/testdata/sample_query_results.json
  apis/data/v0alpha1/unstructured.go
  apis/data/v0alpha1/zz_generated.deepcopy.go
  experimental/schemabuilder/example/query_test.go
  experimental/schemabuilder/examples.go
  experimental/schemabuilder/panel.go
  experimental/schemabuilder/reflector.go
  experimental/schemabuilder/reflector_test.go
  experimental/schemabuilder/schema.go
  experimental/testdata/folder.golden.txt
Owners: @grafana/plugins-platform-backend

move package
  experimental/apis/README.md
  experimental/apis/data/v0alpha1/client.go
  experimental/apis/data/v0alpha1/client_test.go
  experimental/apis/data/v0alpha1/doc.go
  experimental/apis/data/v0alpha1/metaV1.go
  experimental/apis/data/v0alpha1/openapi.go
  experimental/apis/data/v0alpha1/openapi_test.go
  experimental/apis/data/v0alpha1/query.definition.schema.json
  experimental/apis/data/v0alpha1/query.go
  experimental/apis/data/v0alpha1/query.schema.json
  experimental/apis/data/v0alpha1/query_definition.go
  experimental/apis/data/v0alpha1/query_test.go
  experimental/apis/data/v0alpha1/schema.go
  experimental/apis/data/v0alpha1/schema_test.go
  experimental/apis/data/v0alpha1/testdata/sample_query_results.json
  experimental/apis/data/v0alpha1/unstructured.go
  experimental/apis/data/v0alpha1/zz_generated.deepcopy.go
Owners: @grafana/plugins-platform-backend

Experimental: Add query type definition and schemas (#897)
  experimental/apis/README.md
  experimental/apis/data/v0alpha1/client.go
  experimental/apis/data/v0alpha1/client_test.go
  experimental/apis/data/v0alpha1/doc.go
  experimental/apis/data/v0alpha1/metaV1.go
  experimental/apis/data/v0alpha1/openapi.go
  experimental/apis/data/v0alpha1/openapi_test.go
  experimental/apis/data/v0alpha1/query.definition.schema.json
  experimental/apis/data/v0alpha1/query.go
  experimental/apis/data/v0alpha1/query.schema.json
  experimental/apis/data/v0alpha1/query_definition.go
  experimental/apis/data/v0alpha1/query_test.go
  experimental/apis/data/v0alpha1/schema.go
  experimental/apis/data/v0alpha1/schema_test.go
  experimental/apis/data/v0alpha1/testdata/sample_query_results.json
  experimental/apis/data/v0alpha1/unstructured.go
  experimental/apis/data/v0alpha1/zz_generated.deepcopy.go
  experimental/schemabuilder/enums.go
  experimental/schemabuilder/enums_test.go
  experimental/schemabuilder/example/query.go
  experimental/schemabuilder/example/query.panel.example.json
  experimental/schemabuilder/example/query.panel.schema.json
  experimental/schemabuilder/example/query.request.example.json
  experimental/schemabuilder/example/query.request.schema.json
  experimental/schemabuilder/example/query.types.json
  experimental/schemabuilder/example/query_test.go
  experimental/schemabuilder/examples.go
  experimental/schemabuilder/panel.go
  experimental/schemabuilder/reflector.go
  experimental/schemabuilder/reflector_test.go
  experimental/schemabuilder/schema.go
  experimental/testdata/folder.golden.txt
  go.mod
  go.sum
Owners: @grafana/plugins-platform-backend

avoid context
  backend/httpclient/config/response_limit_middleware.go
  backend/httpclient/max_bytes_reader.go
  backend/httpclient/max_bytes_reader_test.go
  backend/httpclient/response_limit_middleware.go
  backend/httpclient/response_limit_middleware_test.go
Owners: @grafana/plugins-platform-backend

introduce maputil
  data/utils/maputil/maputil.go
  data/utils/maputil/maputil_test.go
Owners: @grafana/data-plane-wg

add GetMapOptional
  data/utils/maputil/maputil.go
  data/utils/maputil/maputil_test.go
Owners: @grafana/data-plane-wg

linting
  data/utils/maputil/maputil.go
Owners: @grafana/data-plane-wg

linting 2
  data/utils/maputil/maputil.go
Owners: @grafana/data-plane-wg

Introduce maputil (#919)
  data/utils/maputil/maputil.go
  data/utils/maputil/maputil_test.go
Owners: @grafana/data-plane-wg

feat: a start on easier manual instrumentation for plugins
  backend/common.go
  backend/tracing/tracing.go
  backend/tracing/tracing_test.go
Owners: @grafana/plugins-platform-backend

fix map setters
  data/converters/converters.go
  experimental/apis/data/v0alpha1/query.go
  experimental/apis/data/v0alpha1/query_test.go
Owners: @grafana/data-plane-wg, @grafana/plugins-platform-backend
