Repository grafana/grafana-plugin-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/plugins-platform-backend, @grafana/observability-metrics, @grafana/observability-logs, @grafana/partner-datasources, @grafana/data-plane-wg, @grafana/oss-big-tent

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# these will be requested for review when someone opens a pull request.
* @grafana/plugins-platform-backend
/backend/gtime @grafana/observability-metrics @grafana/observability-logs @grafana/partner-datasources
/data/ @grafana/data-plane-wg
/data/sqlutil @grafana/oss-big-tent

use type not ID
  experimental/slo/metrics.go
Owners: @grafana/plugins-platform-backend

lint
  experimental/slo/slo_middleware_test.go
Owners: @grafana/plugins-platform-backend

lint
  experimental/slo/slo_middleware_test.go
Owners: @grafana/plugins-platform-backend

lint
  experimental/slo/slo_middleware_test.go
Owners: @grafana/plugins-platform-backend

lint
  experimental/slo/slo_middleware_test.go
Owners: @grafana/plugins-platform-backend

tests
  experimental/slo/metrics.go
  experimental/slo/metrics_test.go
  experimental/slo/slo_middleware.go
Owners: @grafana/plugins-platform-backend

cleanup
  experimental/slo/metrics_test.go
Owners: @grafana/plugins-platform-backend

add query and resource test
  experimental/slo/metrics_test.go
Owners: @grafana/plugins-platform-backend

lint
  experimental/slo/metrics_test.go
Owners: @grafana/plugins-platform-backend

lint
  experimental/slo/metrics_test.go
Owners: @grafana/plugins-platform-backend

cleanup tests
  experimental/slo/metrics_test.go
  experimental/slo/test/test_collector.go
  experimental/slo/test/test_datasource.go
Owners: @grafana/plugins-platform-backend

lint
  experimental/slo/metrics_test.go
  experimental/slo/test/test_collector.go
  experimental/slo/test/test_datasource.go
Owners: @grafana/plugins-platform-backend

expose arrow table
  data/arrow.go
Owners: @grafana/data-plane-wg

Chore: Move last pieces from Grafana's legacydata package into the SDK
  backend/gtime/doc.go
  backend/gtime/time_range.go
  backend/gtime/time_range_test.go
  experimental/apis/data/v0alpha1/conversions.go
  go.mod
  go.sum
Owners: @grafana/observability-metrics, @grafana/observability-logs, @grafana/partner-datasources, @grafana/plugins-platform-backend

add comment
  data/arrow.go
Owners: @grafana/data-plane-wg

Arrow: Expose frame to arrow.Table utility function (#1002)
  data/arrow.go
Owners: @grafana/data-plane-wg

Chore: Move last pieces from Grafana's legacydata package into the SDK (#1003)
  backend/gtime/doc.go
  backend/gtime/time_range.go
  backend/gtime/time_range_test.go
  experimental/apis/data/v0alpha1/conversions.go
  go.mod
  go.sum
Owners: @grafana/observability-metrics, @grafana/observability-logs, @grafana/partner-datasources, @grafana/plugins-platform-backend

place built binaries in their respective nested directory
  internal/utils.go
  internal/utils_test.go
Owners: @grafana/plugins-platform-backend

add test for backwards compat
  internal/utils_test.go
Owners: @grafana/plugins-platform-backend

add docs
  contribute/developer-guide.md
Owners: @grafana/plugins-platform-backend

remove docs
  contribute/developer-guide.md
Owners: @grafana/plugins-platform-backend

fixup and add comments
  internal/utils.go
  internal/utils_test.go
Owners: @grafana/plugins-platform-backend

simple changes
  internal/utils.go
  internal/utils_test.go
Owners: @grafana/plugins-platform-backend

Update experimental/slo/metrics.go
  experimental/slo/metrics.go
Owners: @grafana/plugins-platform-backend

make duration fields private
  experimental/slo/metrics.go
  experimental/slo/slo_middleware.go
  experimental/slo/slo_middleware_test.go
Owners: @grafana/plugins-platform-backend

ensure ctx key is unique
  experimental/slo/metrics.go
  experimental/slo/slo_middleware.go
  experimental/slo/slo_middleware_test.go
Owners: @grafana/plugins-platform-backend

slo - capture plugin duration for http based plugins (#998)
  experimental/slo/metrics.go
  experimental/slo/metrics_test.go
  experimental/slo/slo_middleware.go
  experimental/slo/slo_middleware_test.go
  experimental/slo/test/test_collector.go
  experimental/slo/test/test_datasource.go
Owners: @grafana/plugins-platform-backend

Enhance profiling and allow traces to profiles
  backend/setup.go
  go.mod
  go.sum
  internal/tracerprovider/profiling_tracerprovider.go
  internal/tracerprovider/tracerprovider.go
Owners: @grafana/plugins-platform-backend

fix spelling
  backend/setup.go
Owners: @grafana/plugins-platform-backend

Apply suggestions from code review
  backend/setup.go
Owners: @grafana/plugins-platform-backend

simple changes (#1005)
  internal/utils.go
  internal/utils_test.go
Owners: @grafana/plugins-platform-backend

Enhance profiling and allow traces to profiles (#1006)
  backend/setup.go
  go.mod
  go.sum
  internal/tracerprovider/profiling_tracerprovider.go
  internal/tracerprovider/tracerprovider.go
Owners: @grafana/plugins-platform-backend

do it
  build/common.go
  build/common_test.go
  internal/utils.go
  internal/utils_test.go
Owners: @grafana/plugins-platform-backend

fix lint issues
  build/common.go
  build/common_test.go
Owners: @grafana/plugins-platform-backend

simplify buildInfoJSON regex for test
  build/common_test.go
Owners: @grafana/plugins-platform-backend

Nested plugin binaries are output to their respective directories (#1007)
  build/common.go
  build/common_test.go
  internal/utils.go
  internal/utils_test.go
Owners: @grafana/plugins-platform-backend

Backend handlers: Catch panics
  backend/data_adapter.go
  backend/data_adapter_test.go
  backend/diagnostics_adapter.go
  backend/diagnostics_adapter_test.go
  backend/panic_guard.go
  backend/resource_adapter.go
  backend/resource_adapter_test.go
  backend/stream_adapter.go
  backend/stream_adapter_test.go
Owners: @grafana/plugins-platform-backend

Revert "Backend handlers: Catch panics"
  backend/data_adapter.go
  backend/data_adapter_test.go
  backend/diagnostics_adapter.go
  backend/diagnostics_adapter_test.go
  backend/panic_guard.go
  backend/resource_adapter.go
  backend/resource_adapter_test.go
  backend/stream_adapter.go
  backend/stream_adapter_test.go
Owners: @grafana/plugins-platform-backend

handle panics at grpc level
  backend/serve.go
Owners: @grafana/plugins-platform-backend

Backend handlers: Catch panics (#1010)
  backend/serve.go
Owners: @grafana/plugins-platform-backend
