Repository grafana/grafana-plugin-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/plugins-platform-backend, @grafana/observability-metrics, @grafana/observability-logs, @grafana/partner-datasources, @grafana/data-plane-wg, @grafana/oss-big-tent

add SkipAndReturnBytes method (#891)
  data/utils/jsoniter/jsoniter.go
Owners: @grafana/data-plane-wg

add a method to retrieve responseLimit from grafanaConfig
  backend/config.go
Owners: @grafana/plugins-platform-backend

unit tests
  backend/config_test.go
Owners: @grafana/plugins-platform-backend

Arrow: update to v15 (#890)
  data/arrow.go
  data/arrow_column_builders.go
  data/arrow_test.go
  data/frame_json.gen.go
  data/frame_json.go
  go.mod
  go.sum
Owners: @grafana/data-plane-wg, @grafana/plugins-platform-backend

socks proxy: store datasource type & name
  backend/common.go
  backend/common_test.go
Owners: @grafana/plugins-platform-backend

add query type support
  experimental/query/common.go
  experimental/query/common.jsonschema
  experimental/query/common_test.go
  experimental/query/definition.go
  experimental/query/expr/math.go
  experimental/query/expr/reduce.go
  experimental/query/expr/resample.go
  experimental/query/expr/types.go
  experimental/query/expr/types_test.go
  experimental/query/schema/builder.go
  experimental/query/schema/enums.go
  experimental/query/schema/enums_test.go
  go.mod
  go.sum
Owners: @grafana/plugins-platform-backend

socks proxy: store datasource type & name (#896)
  backend/common.go
  backend/common_test.go
Owners: @grafana/plugins-platform-backend

move values
  experimental/query/common.go
  experimental/query/common.jsonschema
  experimental/query/definition.go
  experimental/query/expr/math.go
  experimental/query/expr/types.go
  experimental/query/expr/types.json
  experimental/query/expr/types_test.go
  experimental/query/schema/builder.go
Owners: @grafana/plugins-platform-backend

no refs
  experimental/query/common.jsonschema
  experimental/query/common_test.go
Owners: @grafana/plugins-platform-backend

add k8s placeholder
  experimental/query/definition.go
  experimental/query/expr/types.go
Owners: @grafana/plugins-platform-backend

parallel k8s
  experimental/query/definition.go
  experimental/query/expr/types.go
  experimental/query/expr/types.json
  experimental/query/expr/types_test.go
  experimental/query/schema/builder.go
Owners: @grafana/plugins-platform-backend

now with examples
  experimental/query/definition.go
  experimental/query/expr/types.json
  experimental/query/expr/types_test.go
  experimental/query/schema/builder.go
  experimental/query/schema/enums.go
  experimental/query/schema/enums_test.go
Owners: @grafana/plugins-platform-backend

ok with dataframe now
  experimental/query/schema/builder.go
Owners: @grafana/plugins-platform-backend

ok with dataframe now
  experimental/query/expr/resample.go
  experimental/query/expr/types.json
Owners: @grafana/plugins-platform-backend

no versions
  experimental/query/definition.go
  experimental/query/expr/math.go
  experimental/query/expr/types.go
  experimental/query/expr/types.json
  experimental/query/expr/types_test.go
  experimental/query/schema/builder.go
Owners: @grafana/plugins-platform-backend

adds all variants of debug builds for cross-compilations
  build/common.go
Owners: @grafana/plugins-platform-backend

add apiVersion
  experimental/query/definition.go
  experimental/query/expr/types.json
  experimental/query/expr/types_test.go
  experimental/query/schema/builder.go
Owners: @grafana/plugins-platform-backend

add descriptions for mage output
  build/common.go
Owners: @grafana/plugins-platform-backend

minor text edit
  build/common.go
Owners: @grafana/plugins-platform-backend

enhancement: add all variants of debug builds for cross-compilation (#898)
  build/common.go
Owners: @grafana/plugins-platform-backend

add settings example
  data/utils/jsoniter/jsoniter.go
  data/utils/jsoniter/jsoniter_test.go
  experimental/query/common.jsonschema
  experimental/query/definition.go
  experimental/query/expr/types_test.go
  experimental/query/schema/builder.go
  experimental/schema/builder.go
  experimental/schema/enums.go
  experimental/schema/enums_test.go
  experimental/schema/example/math.go
  experimental/schema/example/reduce.go
  experimental/schema/example/resample.go
  experimental/schema/example/types.go
  experimental/schema/example/types.json
  experimental/schema/example/types_test.go
  experimental/schema/k8s.go
  experimental/schema/query.go
  experimental/schema/query.schema.json
  experimental/schema/query_parser.go
  experimental/schema/query_test.go
  experimental/schema/settings.go
Owners: @grafana/data-plane-wg, @grafana/plugins-platform-backend

update iter
  data/utils/jsoniter/jsoniter.go
  data/utils/jsoniter/jsoniter_test.go
Owners: @grafana/data-plane-wg

update jsoniter wrappers (#900)
  data/utils/jsoniter/jsoniter.go
  data/utils/jsoniter/jsoniter_test.go
Owners: @grafana/data-plane-wg

fix build
  experimental/schema/builder.go
  experimental/schema/enums.go
  experimental/schema/enums_test.go
  experimental/schema/example/math.go
  experimental/schema/k8s.go
  experimental/schema/query.go
  experimental/schema/query_test.go
  experimental/testdata/folder.golden.txt
Owners: @grafana/plugins-platform-backend

plugins: added more config-params to the plugin config
  backend/config.go
  backend/config_test.go
Owners: @grafana/plugins-platform-backend

plugins: added more config-params to the plugin config (#899)
  backend/config.go
  backend/config_test.go
Owners: @grafana/plugins-platform-backend

add more functions
  data/utils/jsoniter/jsoniter.go
  data/utils/jsoniter/jsoniter_test.go
Owners: @grafana/data-plane-wg

add more functions (#902)
  data/utils/jsoniter/jsoniter.go
  data/utils/jsoniter/jsoniter_test.go
Owners: @grafana/data-plane-wg

multiple discriminators
  experimental/schema/builder.go
  experimental/schema/example/types.json
  experimental/schema/example/types_test.go
  experimental/schema/query.go
  experimental/schema/settings.go
Owners: @grafana/plugins-platform-backend

difference between save and post
  experimental/schema/builder.go
  experimental/schema/example/query.post.schema.json
  experimental/schema/example/query.save.schema.json
  experimental/schema/example/query.types.json
  experimental/schema/example/types.go
  experimental/schema/example/types_test.go
Owners: @grafana/plugins-platform-backend

rename to spec
  experimental/schema/builder.go
  experimental/schema/enums.go
  experimental/schema/enums_test.go
  experimental/schema/example/math.go
  experimental/schema/example/query.post.schema.json
  experimental/schema/example/query.save.schema.json
  experimental/schema/example/query.types.json
  experimental/schema/example/reduce.go
  experimental/schema/example/resample.go
  experimental/schema/example/types.go
  experimental/schema/example/types_test.go
  experimental/schema/k8s.go
  experimental/schema/query.go
  experimental/schema/query.schema.json
  experimental/schema/query_parser.go
  experimental/schema/query_test.go
  experimental/schema/settings.go
  experimental/testdata/folder.golden.txt
Owners: @grafana/plugins-platform-backend

rename to spec
  experimental/spec/builder.go
  experimental/spec/enums.go
  experimental/spec/enums_test.go
  experimental/spec/example/math.go
  experimental/spec/example/query.post.schema.json
  experimental/spec/example/query.save.schema.json
  experimental/spec/example/query.types.json
  experimental/spec/example/reduce.go
  experimental/spec/example/resample.go
  experimental/spec/example/types.go
  experimental/spec/example/types_test.go
  experimental/spec/k8s.go
  experimental/spec/query.go
  experimental/spec/query.schema.json
  experimental/spec/query_parser.go
  experimental/spec/query_test.go
  experimental/spec/settings.go
Owners: @grafana/plugins-platform-backend

feat(plugin): add plugin height control for explore panels
  data/frame_meta.go
Owners: @grafana/data-plane-wg

feat(plugin): make json naming consistent
  data/frame_meta.go
Owners: @grafana/data-plane-wg

more reference stuff
  experimental/spec/builder.go
  experimental/spec/example/query.go
  experimental/spec/example/query.post.schema.json
  experimental/spec/example/query.save.schema.json
  experimental/spec/example/query.types.json
  experimental/spec/example/query_test.go
  experimental/spec/example/testdata/sample_query_request.json
  experimental/spec/query.go
  experimental/spec/query.schema.json
  experimental/spec/query_parser.go
  experimental/spec/query_test.go
Owners: @grafana/plugins-platform-backend

more reference stuff
  experimental/spec/builder.go
  experimental/spec/example/query.post.schema.json
  experimental/spec/example/query.save.schema.json
  experimental/spec/example/testdata/sample_query_request.json
Owners: @grafana/plugins-platform-backend

more reference stuff
  experimental/spec/builder.go
  experimental/spec/example/query.post.schema.json
  experimental/spec/example/query.save.schema.json
  experimental/spec/example/testdata/sample_query_request.json
  experimental/spec/query_parser.go
Owners: @grafana/plugins-platform-backend

with definitions
  experimental/spec/builder.go
  experimental/spec/example/query.post.schema.json
  experimental/spec/example/query.save.schema.json
  experimental/spec/example/testdata/sample_query_request.json
Owners: @grafana/plugins-platform-backend

with definitions
  experimental/spec/example/query.save.schema.json
  experimental/spec/example/testdata/sample_query_request.json
Owners: @grafana/plugins-platform-backend

cleanup
  experimental/spec/builder.go
  experimental/spec/example/query.post.schema.json
  experimental/spec/example/query.request.schema.json
  experimental/spec/example/query.schema.json
  experimental/spec/example/testdata/sample_query_request.json
Owners: @grafana/plugins-platform-backend

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# these will be requested for review when someone opens a pull request.
* @grafana/plugins-platform-backend
/backend/gtime @grafana/observability-metrics @grafana/observability-logs @grafana/partner-datasources
/data/ @grafana/data-plane-wg
/data/sqlutil @grafana/oss-big-tent
